.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* chat response box */

.chat .response {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 20px;
  position: relative;
  animation: bounce 0.5s ease-out;
}

.chat .response:before,
.chat .response:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 20px;
  animation: border-pulse 2s ease-out infinite;
}

.chat .response:before {
  border: 4px solid #00bcd4;
  animation-delay: 0.5s;
}

.chat .response:after {
  border: 4px solid #ff9800;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes border-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
    transform: scale(1.02);
  }

  100% {
    opacity: 0.6;
  }
}


